<div class="footer-main">
	<table style="padding-left:140px; padding-top:0px;">
			<tr>
				<td class="footer-people" style="width:280px;">
					<a href="#" class="footer-element" style="">
						<h1>Contact us</h1>
						<h2></h2>
					</a>
				</td>
				<td class="footer-doc" style="width:280px;">
					<a href="#" class="footer-element" style="">
						<h1>Documentation</h1>
						<h2>how to cite</h2>
					</a>
				</td>
				<td class="footer-news" style="width:280px;">
					<a href="#" class="footer-element" style="">
						<h1>News and events</h1>
						<h2>see what's happening</h2>
					</a>
				</td>
			</tr>
		</table>
</div>
<div class="footer-minor">
	<table style="padding-left:140px; padding-top:20px;">
			<tr>
				<td class="footer-funding" style="width:700px;">
					<a href="#" class="footer-minor-element" style="">
						<h1>Funding:</h1>
						<h2>seqinspector-one: NCN 2011/01/N/NZ2/04827</h2>
						<h2>seqinspector: NCN 2011/01/N/NZ2/04827</h2>
						<h2>cremag: LSHM-CT-2004-005166, PBZ-MNiI-2/1/2005 and NN405 274137</h2>
					</a>
				</td>
			</tr>
		</table>
</div>