.cremag-a a {text-decoration: none;}
.cremag-a a:link {color:#FFFFFF;}
.cremag-a a:visited {color:#FFFFFF;}
.cremag-a a:hover {color:#FFFFFF;}
.cremag-a a:active {color:#FFFFFF;}


.cremag {background:#ffffff;}
.cremag {font-family:Arial, Helvetica, Sans-Serif; font-size:1em; color:#898989;}

.cremag-logo {font-size:1em; }
.cremag-logo {border-right:solid #676767 1px;}
.cremag-logo {background:url(images/cremag-logo.png) no-repeat scroll 23% 40%;}
.cremag-logo h1 {font-weight:normal; font-size:3em; padding:0 0 10 200px; margin: 0px;}
.cremag-logo h2 {font-weight:normal; padding:0 60 0 230px; margin: 0px;}

.cremag-info {padding-left:60px; width:300px;}
.cremag-info h1 {font-weight:normal; font-size:1.5em; padding: 0px; margin: 0px;}
.cremag-info a {font-weight:normal; font-size:1em; padding: 0px; margin: 0px;}
.cremag-info a:link {color:#82c554;}
.cremag-info a:visited {color:#82c554;}
.cremag-info a:hover {color:#82c554;}
.cremag-info a:active {color:#82c554;}

.cremag-button-frame {width:230px; height: 120px;}
.cremag-button-frame {border: 1px solid #9e9e9e; background: #efefef;}
.cremag-button-frame {text-align:center; vertical-align: middle;}
.cremag-button-frame {padding: 15px; margin-right: 30px;}
.cremag-button-frame:hover {background: #dfdfdf;}
.cremag-button-frame:active {background: #ffffff;}
.cremag-button {text-decoration: none; vertical-align: middle; color:#898989;}
.cremag-button h1 {font-size:28px; font-weight:normal;}
.cremag-button h2 {font-size:13px; font-weight:normal;}

.footer-main {background: #676767; width:100%; height: 80px; padding-top: 30px;}
.footer-main table {color:#ffffff; margin:0 0 0 0; vertical-align: middle;}
.footer-minor {background: #efefef;}
.footer-element {text-decoration: none; vertical-align: middle; color:#ffffff;}
.footer-element h1 {padding: 0 0 0 53px; margin: 0; font-size:18px; font-weight:bold;}
.footer-element h2 {padding: 0 0 0 53px; margin: 0; font-size:13px; font-weight:normal;}
.footer-minor-element {text-decoration: none; vertical-align: middle; color:#898989}
.footer-minor-element h1 {padding: 0 0 0 53px; margin: 0; font-size:18px; font-weight:bold;}
.footer-minor-element h2 {padding: 0 0 0 53px; margin: 0; font-size:18px; font-weight:normal;}
.footer-people {background: url(images/icon-people.png) no-repeat scroll 3% 50%;}
.footer-doc {background: url(images/icon-doc.png) no-repeat scroll 5% 50%;}
.footer-news {background: url(images/icon-news.png) no-repeat scroll 4% 50%;}
.footer-funding {background: url(images/icon-funding.png) no-repeat scroll 2% 50%;}
