label { 
   display:block; 
   margin-bottom:5px; 
} 

input, textarea, select {
	width: 330px;
    height: 40px;
    padding: 10px 5px;
    
    border: none;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    -webkit-box-shadow:0 0 5px #666 inset; 
    -moz-box-shadow:0 0 5px #666 inset; 
    box-shadow:0 0 5px #666 inset; 
	background: #fff;
	-moz-appearance: none;
	
	font: bold 14px 'lucida sans', 'trebuchet MS', 'Tahoma';
	line-height:25px; 
	text-indent:5px; 

}