button {
	background-color: #eee;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font: bold 0.9em Helvetica, Arial, sans-serif;
	color: #444;
	line-height: 27px;
	height: 37px;
	display: inline-block;
	float: left;
	padding: 9px 10px 9px 10px;
	border: solid 1px #D9D9D9;
	
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
 	
 	-webkit-transition: border-color .20s;
 	-moz-transition: border-color .20s;
 	-o-transition: border-color .20s;
 	transition: border-color .20s;
	
	height: 35px !important;
	cursor: pointer;
}

button:hover {
	background: #F4F4F4;
	border-color: #C0C0C0;
	color: #333;
}

button:active {
	border-color: #4D90FE;
	color: #4D90FE;
	-moz-box-shadow:inset 0 0 10px #D4D4D4;
	-webkit-box-shadow:inset 0 0 10px #D4D4D4;
	box-shadow:inset 0 0 10px #D4D4D4;
}

button.action:hover {
	-moz-box-shadow: 0 1px 0px #DDD;
	-webkit-box-shadow: 0 1px 0px #DDD;
	box-shadow:iset 0 1px 0px #DDD;
}

button.action:active {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-color: #C6C6C6 !important;
}

 button span.label {
	display: inline-block;
	float: left;
	line-height: 17px;
	height: 18px;
	padding: 0 1px;
	overflow: hidden;
	color: #444;
	-webkit-transition: color .20s;
	-moz-transition: color .20s;
	-o-transition: color .20s;
	transition: color .20s;
}

button span.label {
	line-height: 15px !important;
}

button.action .label {
	padding: 0 17px !important;
}

button.action:active .label {
	color: #333 !important;
}

/* Blue button - minor button */
button.bluebtn {
	border: 1px solid #3079ED !important;
	background: #4B8DF8;
	background: -webkit-linear-gradient(top, #4C8FFD, #4787ED);
	background: -moz-linear-gradient(top, #4C8FFD, #4787ED);
	background: -ms-linear-gradient(top, #4C8FFD, #4787ED);
	background: -o-linear-gradient(top, #4C8FFD, #4787ED);
	-webkit-transition: border .20s;
	-moz-transition: border .20s;
	-o-transition: border .20s;
	transition: border .20s;
}

button.bluebtn:hover {
	border: 1px solid #2F5BB7 !important;
	background: #3F83F1;
	background: -webkit-linear-gradient(top, #4D90FE, #357AE8);
	background: -moz-linear-gradient(top, #4D90FE, #357AE8);
	background: -ms-linear-gradient(top, #4D90FE, #357AE8);
	background: -o-linear-gradient(top, #4D90FE, #357AE8);
}

button.bluebtn:active {
	border-color: #2F5BB7 !important;
}

button:hover .label.bluebtn {
	color: #7090C8;
}
button.bluebtn:active .label, button.greenbtn:active .label, button.redbtn:active .label {
	color: #FFF !important;
}
button.bluebtn .label {
	color: #FFF !important;
	text-shadow: 0 1px 0 #2F5BB7 !important;
}

/* Green button - major button */
button.greenbtn {
	border: 1px solid #29691D !important;
	background: #3A8E00;
	background: -webkit-linear-gradient(top, #3C9300, #398A00);
	background: -moz-linear-gradient(top, #3C9300, #398A00);
	background: -ms-linear-gradient(top, #3C9300, #398A00);
	background: -o-linear-gradient(top, #3C9300, #398A00);
	-webkit-transition: border .20s;
	-moz-transition: border .20s;
	-o-transition: border .20s;
	transition: border .20s;
	text-alignment: center;
}

button.greenbtn:hover {
	border: 1px solid #2D6200 !important;
	background: #3F83F1;
	background: -webkit-linear-gradient(top, #3C9300, #368200);
	background: -moz-linear-gradient(top, #3C9300, #368200);
	background: -ms-linear-gradient(top, #3C9300, #368200);
	background: -o-linear-gradient(top, #3C9300, #368200);
}

button.greenbtn:active {
	border-color: #2D6200 !important;
}
button:hover .label.greenbtn {
	color: #42B449;
}


button.greenbtn .label {
	color: #FFF !important;
	text-shadow: 0 1px 0 #2D6200 !important;
}

/* Orange button - major button */
button.orangebtn {
	border: 1px solid #CD451E !important;
	background: #ED651E; /*#3A8E00;*/
	background: -webkit-linear-gradient(top, #ED651E, #EA551E);
	background: -moz-linear-gradient(top, #ED651E, #EA551E);
	background: -ms-linear-gradient(top, #ED651E, #EA551E);
	background: -o-linear-gradient(top, #ED651E, #EA551E);
	-webkit-transition: border .20s;
	-moz-transition: border .20s;
	-o-transition: border .20s;
	transition: border .20s;
	text-alignment: center;
}

button.orangebtn:hover {
	border: 1px solid #CD451E !important;
	background: #F35D56;/*#3F83F1;*/
	background: -webkit-linear-gradient(top, #F35D56, #F05050);
	background: -moz-linear-gradient(top, #F35D56, #F05050);
	background: -ms-linear-gradient(top, #F35D56, #F05050);
	background: -o-linear-gradient(top, #F35D56, #F05050);
}

button.orangebtn:active {
	border-color: #CD451E !important;
}
button:hover .label.orangebtn {
	color: #CD451E;
}

button.orangebtn .label {
	color: #FFF !important;
	text-shadow: 0 1px 0 #CD451E !important;
}


/* Red button - alert button */
button.redbtn {
	padding: 10px 10px 9px 30px;
	border: 1px solid #D14836 !important;
	background: #D64937 url('images/alert.png') no-repeat scroll 5% 50%;
	background: -webkit-linear-gradient(top, #DC4A38, #D14836) url('images/alert.png') no-repeat scroll left center;
	background: -moz-linear-gradient(top, #DC4A38, #D14836);
	background: -ms-linear-gradient(top, #DC4A38, #D14836);
	background: -o-linear-gradient(top, #DC4A38, #D14836);
 	-webkit-transition: border .20s;
 	-moz-transition: border .20s;
 	-o-transition: border .20s;
 	transition: border .20s;
}

button.redbtn:hover {
	border: 1px solid #D14836 !important;
	cursor: default;
}

button.redbtn:active {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-color: #B0281A !important;
}
button.redbtn .label {
	color: #FFF !important;
	text-shadow: 0 1px 0 #B0281A !important;
}

/* Dark button - progress button */
button.darkbtn {
	padding: 10px 10px 9px 10px;
	border: 1px solid #333333 !important;
	background: #EEE;
	background: -webkit-linear-gradient(top, #3C3C3C, #313131);
	background: -moz-linear-gradient(top, #3C3C3C, #313131);
	background: -ms-linear-gradient(top, #3C3C3C, #313131);
	background: -o-linear-gradient(top, #3C3C3C, #313131);
 	-webkit-transition: border .20s;
 	-moz-transition: border .20s;
 	-o-transition: border .20s;
 	transition: border .20s;
}

button.darkbtn:hover {
	border: 1px solid #333333 !important;
	cursor: default;
}

button.darkbtn:active {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-color: #222222 !important;
}
button.darkbtn .label {
	color: #FFF !important;
	text-shadow: 0 1px 0 #333333 !important;
}

/* Grey button - info button */
button.greybtn {
	padding: 10px 10px 9px 10px;
	border: 1px solid #CCC !important;
	background: #DDD;

 	-webkit-transition: border .20s;
 	-moz-transition: border .20s;
 	-o-transition: border .20s;
 	transition: border .20s;
}

button.greybtn:hover {
	border: 1px solid #CCC !important;
	cursor: default;
}

button.greybtn:active {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-color: #EEE !important;
}
button.greybtn .label {
	color: #555 !important;
	text-shadow: 0 1px 0 #CCC !important;
}


/*------------------------------------*\
	$BUTTON LABEL
\*------------------------------------*/

button.buttonset {
	margin: 0px;
	padding: 0 10 0 10px;
	border-right: solid 0px #D9D9D9;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	text-shadow: 0 2px 2px #fff;
}

button.buttonset-left {
	border-radius: 0.3em 0 0 0.3em;
	-webkit-border-radius:  0.3em 0 0 0.3em;
	-moz-border-radius: 0.3em 0 0 0.3em;
}
button.buttonset-right {
	border-radius: 0 0.3em 0.3em 0;
	-webkit-border-radius: 0 0.3em 0.3em 0;
	-moz-border-radius: 0 0.3em 0.3em 0;
	border-right: solid 1px #D9D9D9;
}

button.buttonset-active:hover {
	border-right: solid 1px #D9D9D9;
	padding: 0 9 0 10px;
	color: #444;
}

button.buttonset-active:active {
	border: solid 1px #D9D9D9;
	padding: 0 9 0 10px;
	color: #444;
}

button.buttonset-inactive{
	color: #999;
}

button.buttonset-inactive:hover {
	background-color: #eee;
	color: #999;
	border-color: #D9D9D9;
	cursor: default;
}

button.buttonset-inactive:active {
	background-color: #eee;
	color: #999;
	border-color: #D9D9D9;
	cursor: default;
	-moz-box-shadow:inset 0 0 0px #D4D4D4;
	-webkit-box-shadow:inset 0 0 0px #D4D4D4;
	box-shadow:inset 0 0 0px #D4D4D4;
}
