body { background: #EDEDED; margin: 0;}
body { font-family:Arial, Helvetica, Sans-Serif; font-size:1em; color:#000;}

.gs-header {height:50px; background: #333333; margin:0 0 10 0px;}
.gs-header {border-bottom:1px solid #151515;}
.gs-header {color:#FFF; font-size:1.4em; vertical-align:middle;}
.gs-header img {margin: 6 5 5 100px; vertical-align:middle;}

.gs-nav-color { background-color: #f5f5f5; }
.gs-centerize { text-align: center; }
.hidden {display: none;}

.gs-table {color: #444; border-spacing:0px;}
.gs-table tr {background:#FFF; height:25px;}
.gs-table th {background:#555; color:#FFFFFF;}
.gs-table td, th {border-bottom:1px solid #DDD; padding:5px; text-align:center;}

.gs-img {background:#EEE;}

.desc { color:#6b6b6b;}
.desc a {color:#0092dd;}
        
.dropdown dd, .dropdown dt, .dropdown dl { margin:0 0 5 5px; padding:0px;}
.dropdown ul {margin: 0;}
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color:#888; text-decoration:none; outline:none;}
.dropdown a:hover { color:#555;}
.dropdown dt a:hover { color:#555; border: 1px solid #DDD;}
.dropdown dt a {background:#f5f5f5 url(images/arrow.png) no-repeat scroll 98% 50%; display:block; padding-right:20px;
                        border:1px solid #DDD; width:220px; padding: 8 7 8 7px; margin:0px;}
.dropdown dt a span {cursor:pointer; display:block;}
.dropdown dd ul { background:#f5f5f5 none repeat scroll 0 0; border:1px solid #DDD; color:#888; display:none;
                          left:0px; padding:0px 0px; position:absolute; top:2px; width:auto; min-width:236px; list-style:none;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:5 0 5 5px; display:block;}
.dropdown dd ul li a:hover { background-color:#EEE;}

dl, dd, dt { -webkit-margin-before:0px; -webkit-margin-after: 0px; margin:0px;}

.gs-in-table {margin:0 0 5 5px;}

.gs-red-text {border: 1px solid #D14836 !important; background: #D64937;
						background: -webkit-linear-gradient(top, #DC4A38, #D14836);
						background: -moz-linear-gradient(top, #DC4A38, #D14836);
						background: -ms-linear-gradient(top, #DC4A38, #D14836);
						background: -o-linear-gradient(top, #DC4A38, #D14836);
						-webkit-transition: border .20s; -moz-transition: border .20s; -o-transition: border .20s; transition: border .20s;}

.gs-input-text {color:#555; font-size:1.2em; 
    width:220px; 
    height:37px; 
    text-indent:10px;  
    background: #ffffff; 
    border:solid 1px #DDD; 
    border-top:solid 1px #CCC; 
}

.dialog-overlay{width:100%;height:100%;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;background:#000;position:absolute;top:0;left:0;z-index:3000;display:none;}
.dialog-box{
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#eee;
	/* width:450px; */
	padding:20px;
	position:absolute;
	z-index:5000;
	display:none;
}

.dialog-content{text-align:left;padding:10px;margin:13px;color:#666;}


​